@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

/*Header*/

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 170%;
  color: #333;
  overflow-x: hidden;
}

p{ margin: 0 0 10px 0; }

.h1, .h2, .h3, h1, h2, h3 {
  font-weight: 500;
  margin: 10px 0;
}

h1, .h1{ font-size: 1.8em; color: #000; }

h2, .h2{ font-size: 1.6em; color: #000; }

h3, .h3{ font-size: 1.4em; color: #000; }

h4, .h4{ font-size: 1.2em; color: #000; }

img{ max-width: 100%; height: auto; }

a{
  color: #728de7;
}

a:hover{
  color: #728de7;
}

ul.links.inline{
  padding: 0;
}

ul.links.inline li{
  list-style: none;
}

.block{
  margin-bottom: 20px;
}

.main-header{
  background: url(../images/welcome_banner_bg.jpg);  
  color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  background-size: cover;
  position: relative;
}

.main-header:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: rgba(21, 22, 26, 0.88);*/
}

.main-header nav{
  background: none;
  border: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

.main-header .region{
  position: relative;
  z-index: 2;
}

/*region header*/

.site-branding{
  margin: 0;
}

.brand.logo{
  margin-right: 5px;
}

.region-header .brand{
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.site-name a{
  font-size: 26px;
  color: #fff;
}

/*Banner*/

.welcome-banner-text{
  text-align: center;
  line-height: 160%;
  max-width: 600px;
  padding: 90px 0;
}

.welcome-banner-text h2{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/*top widget*/

.topwidget{
  text-align: center;
  padding: 50px 0;
}

.topwidget .fa{
  font-size: 60px;
  background: #4D4F4A;
  width: 120px;
  height: 120px;
  padding: 32px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 20px;
}

.topwidget .fa span{
  display: none;
}

/*footerwidget*/

.footerwidget{
  /*background: #2e2e2e;*/
  background-image: url(../images/welcome_banner_bg.jpg);
  color: #D0D0D0;
  padding: 10px 0;

}

.footerwidget img.left{
  float: left;
  margin: 10px 10px 0 0;
}

.copyright{
  background: #000;
  font-size: 10px;
  color: #999;
}

.copyright p{
  margin: 13px 0;
}

.footerwidget h2,
.footerwidget .h2{
  color: #FFF;
}

/*bottom-widgets*/

.bottom-widgets{
  text-align: center;
  background: #FBFBFB;
  padding: 10px 0;
}

.bottom-widgets .region{
  padding: 10px;
  background: #f1f1f1;
}

/*Footer menu*/

.footer-menu{
  margin: 0;
  border: 0;
  background: #eee;
  color: #fff;
}

.footer-menu ul{
  margin: 10px 0;
  padding: 0;
}

.footer-menu nav li{
  display: inline-block;
}

.footer-menu nav li a{
  display: block;
  padding: 4px 20px 4px 0;
}

.google_map p,
.google_map .block{
  margin: 0;
}

.google_map iframe{
  display: block;
}

/*Credit link*/

.credit-link{
  text-align: left;
}

/*SOCIAL MEDIA*/

.social-media{
  margin: 10px 0;
  overflow: hidden;
  float: left;
}

.social-media a {
  width: 30px;
  height: 30px;
  color: #fff;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  background: #3262b9;
  font-size: 14px;
  line-height: 220%;
}

.social-media a.google-plus{
  background: #de2020;
}

.social-media a.twitter{
  background: #29C5F6;
}

.social-media a.linkedin{
  background: #069;
}

.social-media a.pinterest{
  background: #C61118;
}

.social-media a.rss{
  background: #FF6D00;
}

.social-media a:hover{
  opacity: .6;
}

/*FORM*/

input, button, select, textarea{
  padding: 9px;
  border: 1px solid #C7C7C7;
}

.contact-message-form label{
  display: block;
}

.btn, 
input[type="submit"]{
  background: #601d24; /*#19c2c8;*/
  color: #fff;
  border: 0;
  padding: 13px;
  line-height: 100%;
  height: 42px;
}

.btn:hover, 
input[type="submit"]:hover{
  background: #812730; /*#13ADB3;*/
}

/*FRONT PAGE*/

.path-frontpage .content_layout {
  text-align: center;
}

.path-frontpage .feed-icon{
  display: none;
}

/*MENU*/

.navbar-default .navbar-toggle{
  background: #fff;
  margin-right: 0;
}

nav h2{
  display: none;
}

.menu-base-theme,
.menu-base-theme a, 
.menu-base-theme a:hover, 
.menu-base-theme a:focus, 
.menu-base-theme a:active, 
.menu-base-theme a.highlighted{
  background: none;
}

.menu-base-theme li a{
  background: #FBFBFB
}

.main-menu {
  position: relative;
  z-index: 9999;
}

.region-primary-menu{
  display: none;
  background: #fff;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
}

.menu-base-theme a{
  border-bottom: 1px solid #EEF0F7;
}

.menu-base-theme a span.sub-arrow{
  color: #999;
  font-size: 22px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
} 

.navbar-toggle{
  z-index: 999;
}

/*breadcrumb*/

.breadcrumb{
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.breadcrumb ul{
  padding: 0;
}

.breadcrumb ul li{
  display: inline-block;
}

/*search form*/

#search-block-form{
  display: table;
  width: 100%;
}

#search-block-form .form-item,
#search-block-form .form-actions{
  display: table-cell;
  vertical-align: top;
}

#search-block-form input{
  width: 100%;
  font-weight: bold;
  color: #b78c3c; /*#333;*/
}

#search-block-form input:hover {
  color: #d6a446;
}
/*Demo typography*/

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
}

.highlight{
  padding: 20px;
  background-color: #f7f7f9;
}

.highlight pre{
  border: 0;
  background: none;
}

.bd-example-type .table tr:first-child td {
  border-top: 0;
}

.bd-example-type h1, 
.bd-example-type h2, 
.bd-example-type h3, 
.bd-example-type h4, 
.bd-example-type h5, 
.bd-example-type h6 {
  margin: 0;
}

.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/*Contact form*/

.path-contact{}

.contact-message-feedback-form{
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  padding: 10px 30px;
  background: #F5F5F4;
}

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea{
  width: 100%;
}

/*user-login-form*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Maintainance*/

.maintenance-page{
  background: url(../images/maintenance-bg.png) #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #000;
}

.maintenance-msg {
  margin: 20px 0;
  background: rgba(242, 244, 207, 0.88);
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #FFFFFF;
  font-size: 14px;
}

.maintenance-msg h1{
  text-transform: uppercase;
  font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan{
  display: inline-block;
  vertical-align: middle;
}

.maintenance-page .site-name a{
  color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan{
  display: none;
}


/*Comment*/

.comment-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

.comment-wrap .author-details{
  float: left;
  width: 20%;
}

.comment-wrap .author-comments{
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted{
  padding: 5px 10px;
  border: 1px solid #eee;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.comment-wrap .author-comments h3{
  margin-top: 10px;
}

.comment-wrap .author-comments p{
  margin-bottom: 10px;
}

/*links inline*/

ul.links.inline li{
  display: inline-block;
  padding-right: 10px;
}

/*profile*/

.profile > div{
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.profile h4.label{
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.flexslider{
  z-index: 1;
  margin-top: 10px;
}

.flexslider .slides > li{
  position: relative;
}

.slider-caption{
  display: none;
  position: absolute;
  z-index: 99;
  width: 40%;
  background: #0009;
  left: 10px;
  bottom: 10px;
  padding: 20px;
}

.slider-caption .slider-title{
  color: #fff;
  margin-top: 0;
}

.flex-direction-nav a{
  padding: 10px;
  color: #000;
}

.flex-direction-nav a:before{
  color: #000;
}

.flex-control-paging li a.flex-active{
  background: #fff;
}

.THW_Site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.THW_Site_content{
  flex: 1;
}

#block-drupal8-zymphonies-theme-search {
  margin-bottom: 0;
}

#edit-submit {
  height: 44px;
}


.menu-base-theme ul a, .menu-base-theme ul a:hover, .menu-base-theme ul a:focus, .menu-base-theme ul a:active, .menu-base-theme ul a.highlighted {
  color: #4c5f9a;
}

.menu-base-theme ul a:hover, .menu-base-theme ul a:focus, .menu-base-theme ul a:active, .menu-base-theme ul a.highlighted {
  background: #4c5f91;
  color: white;
}

.THW-logo-row {
  background: white;
  padding-top: 12px;
  padding-bottom: 12px;
  display: none;
}

.THW-logo-row img {
  height: 120px;
}

.main-header {
  padding-top: 0;
}

.flex-direction-nav a::before {
  text-shadow: 0 0 6px white;
}


.THW-site-prayer {
  color: black;
  font-style: italic;
  text-align: right;
  margin-bottom: 0;
}

.THW-logo-row-inner {
  display: flex;
}

.THW-site-prayer-outer {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.THW-logo-image-container {
  flex-grow: 1;
}

.THW-site-prayer-outer > div {
  flex-grow: 1;
}

#block-drupal8-zymphonies-theme-branding > div.logo {
  display: none;
}

#block-drupal8-zymphonies-theme-branding {
  margin-top: 16px;
}

@media (min-width:768px) {
  .THW-logo-row {
    display: block;
  }

  #block-drupal8-zymphonies-theme-branding > div.logo {
    display: inline-block;
  }
  
  .THW_Site {
    /* background-color: #f0f4ff; */
  }
.navbar-header {
    display: none;
  }

  .THW-navbar {
    width: 100%;
  }

  .main-header {
    padding: 0;
  }

  #main-menu {
    display: flex;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
  }

  #main-menu > li {
    flex-grow: 1;
    text-align: center;
  }

  #main-menu > li > a:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  #main-menu > li > ul {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
  }

  #block-drupal8-zymphonies-theme-main-menu {
    width: 100%;
  }

  .region-primary-menu {
    width: 100%;
  }

  #block-drupal8-zymphonies-theme-branding {
    display: none; 
  }

  .THW-navbar > div {
    width: 100%;
  }

  .THW-mobile-only {
    display: none;
  }
}

@media (max-width: 767px) {
  .flexslider {
    border: 0;
    margin-bottom: 36px;
  }

  .THW-nomobile {
    display: none;
  }

  .THW-blue-background  > .container {
    padding: 0;
  }

  .slider-caption > div {
    display: none;
  }

  ul.flex-direction-nav {
    display: none;
  }
}

.slider-caption {
  display: inline-block;
}
